<br>
<br>
<br>
<br>
<br>
<br>
    <div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="span6">
                <div class="area">
                    <form class="form-horizontal">
                        <div class="heading">
                            <h4 class="form-heading">Sign In</h4>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "inputUsername">Username</label>

                            <div class="controls">
                                <input id="inputUsername" placeholder=
                                "" type="text">
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                            "inputPassword">CPS ID number</label>

                            <div class="controls">
                                <input id="inputPassword" placeholder=
                                "" type="password">
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                              <br>
                                <button class="btn btn-primary" type=
                                "success">Sign In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            
        </div>
    </div>
</div>