<!DOCTYPE html>
<html>
<head>
  <title>Eligi</title>
    <link rel="icon" href="pics/favicon.bmp" type="image/x-icon">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.min-theme.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="css/i2.css">
    <link href="css/bootstrap.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
